@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-50;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-md;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}
